/* これはコメントです */
h1　{
    color:#0000FF;
}

p {
    font-size: 50px;
    font-family: Tahoma;
}

h1 {
    background-color: #ddd;
}

img {
    width:500px;
    height:500px;
}

.select {
    color:red;
}