.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float:left;
}

 .right {
   float:left;
} 

.right-left {
    float:left;
}

.left-upper {
    width: 150px;
    height: 50px;
    background-color: #dbd400;
    float: left;
}

.left-lower {
    width: 150px;
    height: 150px;
    background-color: #0093b7;
}

.right-side {
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
    float: left;
}

.left-side {
    width: 250px;
    height: 100px;
    background-color: #8c2727;
}

.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}